<!DOCTYPE html>
<html>
<head>
    <%- include("../../common/public.ejs") %>
    <title><%= TITLE %></title>
    <meta name="keywords" content=""/>
    <meta name="description" content="" />
</head>
<body>
<%- include("../../common/header.ejs") %>

<div style="color:red">登录</div>

<%- include("../../common/footer.ejs") %>
</body>
</html>
