<!--导航条-->
<div class="nave-bar">
    <h3 style="font-size: 30px; margin-bottom: 30px">这是导航条</h3>
    <ul>
        <li><a href="/">跳转首页</a></li>
        <li><a href="/login">登录</a></li>
    </ul>
</div>

<style>
    .nave-bar{
        position: fixed;
        left: 0;
        right:0;
        text-align: center;
        z-index: 99;
    }
    .nave-bar li{
        color: blue;
    }
</style>
